<!DOCTYPE html>
<html>
<head>
  <title>Сохраним парк Покровское-Стрешнево</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="https://cdn.vuetifyjs.com/images/logos/favicon.ico">
  <base target="_blank">
</head>
<body>
<div id="app">
  <v-app>
    <v-app-bar
      app
      color="white"
      height="100"
    >
      <v-avatar
        class="mr-3"
        color="grey lighten-5"
        size="70"
      >
        <v-img
          contain
          max-height="70%"
          src="tree.jpg"
        ></v-img>
      </v-avatar>

      <v-toolbar-title class="font-weight-black headline">
        Парк Покровское-Стрешнево
      </v-toolbar-title>
    </v-app-bar>

    <v-content>
      <section id="hero">
        <v-row no-gutters>
          <v-img
            :min-height="'calc(100vh - ' + $vuetify.application.top + 'px)'"
            src="park-autumn.jpg"
          >
            <v-theme-provider dark>
              <v-container fill-height>
                <v-row
                  align="center"
                  class="white--text mx-auto"
                  justify="center"
                >
                  <v-col
                    class="white--text text-center"
                    cols="12"
                    tag="h1"
                  >
                    <span
                    :class="[$vuetify.breakpoint.smAndDown ? 'display-1' : 'display-2']"
                      class="font-weight-light"
                    >
                      Сохраним парк
                    </span>

                    <br>

                    <span
                      :class="[$vuetify.breakpoint.smAndDown ? 'display-3': 'display-4']"
                      class="font-weight-black"
                    >
                      Покровское-Стрешнево
                    </span>

                  </v-col>

                  <v-btn
                    class="align-self-end"
                    fab
                    outlined
                    @click="$vuetify.goTo('#about-me')"
                  >
                    <v-icon>mdi-chevron-double-down</v-icon>
                  </v-btn>
                </v-row>
              </v-container>
            </v-theme-provider>
          </v-img>
        </v-row>
      </section>

      <section id="about-me">
        <div class="py-12"></div>

        <v-container class="text-center">
          <h2 class="display-2 font-weight-bold mb-3">Суть проблемы</h2>

          <v-responsive
            class="mx-auto mb-8"
            width="56"
          >
            <v-divider class="mb-1"></v-divider>

            <v-divider></v-divider>
          </v-responsive>

          <v-responsive
            class="mx-auto title font-weight-light mb-8"
            max-width="720"
          >
            &laquo;Благоустройство&raquo; нашего леса ведёт к исчезновению деревьев, краснокнижных животных и растений.
            Под угрозой родник.
            <br>Это &mdash; утрата природной ценности, и снимет с парка охранный статус. 
            Откроется дорога к застройке территории.
          </v-responsive>

          <v-avatar
            class="elevation-12 mb-12"
            size="128"
          >
            <v-img src="tree.png"></v-img>
          </v-avatar>

          <div></div>

          <v-btn
            color="grey"
            href="#kiosk"
            target="_self"
            outlined
            large
          >
            <span class="grey--text text--darken-1 font-weight-bold">
              Зайдите в инфо-киоск
            </span>
          </v-btn>
        </v-container>

        <div class="py-12"></div>
      </section>

      <section
        id="online"
        class="grey lighten-3"
      >
        <div class="py-12"></div>

        <v-container class="text-center">
          <h2 class="display-2 font-weight-bold mb-3">Вместе</h2>

          <v-responsive
            class="mx-auto mb-12"
            width="56"
          >
            <v-divider class="mb-1"></v-divider>

            <v-divider></v-divider>
          </v-responsive>

          <v-row>
            <v-col
              v-for="({ icon, title, text }, i) in online"
              :key="i"
              cols="12"
              md="4"
            >
              <v-card
                class="py-12 px-4"
                color="grey lighten-5"
                flat
              >
                <v-theme-provider dark>
                  <div>
                    <v-avatar
                      color="primary"
                      size="88"
                    >
                      <v-icon
                        large
                        v-text="icon"
                      ></v-icon>
                    </v-avatar>
                  </div>
                </v-theme-provider>

                <v-card-title
                  class="justify-center font-weight-black text-uppercase"
                  v-text="title"
                ></v-card-title>

                <v-card-text
                  class="subtitle-1 text-left"
                  v-html="text"
                >
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-container>

        <div class="py-12"></div>
      </section>



      <section id="about-me">
        <div class="py-12"></div>

        <v-container class="text-center">
          <h2 class="display-2 font-weight-bold mb-3">Куда обращаться</h2>

          <v-responsive
            class="mx-auto mb-8"
            width="56"
          >
            <v-divider class="mb-1"></v-divider>

            <v-divider></v-divider>
          </v-responsive>

          <v-row>

          </v-row>

          <template>
            <v-expansion-panels focusable>
              <v-expansion-panel
                v-for="(item,i) in appeal"
                :key="i"
              >
                <v-expansion-panel-header>
                  {{item.title}}
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <div class="text-left" v-html="item.html"></div className="text-left">
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </template>

        </v-container>

        <div class="py-12"></div>
      </section>





      <section
        id="kiosk"
        class="grey lighten-3"
      >
        <div class="py-12"></div>

        <v-container class="text-center">
          <h2 class="display-2 font-weight-bold mb-3">Как защитить парк?</h2>
          <h3 class="display-2 font-weight-bold mb-3">Зайдите в инфо-киоск</h3>

          <v-responsive
            class="mx-auto mb-12"
            width="56"
          >
            <v-divider class="mb-1"></v-divider>

            <v-divider></v-divider>
          </v-responsive>

          <v-row>
            <v-col
              v-for="({ icon, title, text }, i) in kiosk"
              :key="i"
              cols="12"
              md="4"
            >
              <v-card
                class="py-12 px-4"
                color="grey lighten-5"
                flat
              >
                <v-theme-provider dark>
                  <div>
                    <v-avatar
                      color="primary"
                      size="88"
                    >
                      <v-icon
                        large
                        v-text="icon"
                      ></v-icon>
                    </v-avatar>
                  </div>
                </v-theme-provider>

                <v-card-title
                  class="justify-center font-weight-black text-uppercase"
                  v-text="title"
                ></v-card-title>

                <v-card-text
                  class="subtitle-1 text-left"
                  v-html="text"
                >
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-container>

        <div class="py-12"></div>
      </section>



      

      <section id="stats">
        <v-parallax
          :height="$vuetify.breakpoint.smAndDown ? 700 : 500"
          src="ponds.jpg"
        >
          <v-container fill-height>
            <v-row class="mx-auto">
              <v-col
                v-for="[value, title] of stats"
                :key="title"
                cols="12"
                md="3"
              >
                <div class="text-center">
                  <div
                    class="display-3 font-weight-black mb-4"
                    v-text="value"
                  ></div>

                  <div
                    class="title font-weight-regular text-uppercase"
                    v-text="title"
                  ></div>
                </div>
              </v-col>
            </v-row>
          </v-container>
        </v-parallax>
      </section>

      <!-- <section id="blog">
        <div class="py-12"></div>

        <v-container>
          <h2 class="display-2 font-weight-bold mb-3 text-uppercase text-center">Подробности</h2>

          <v-responsive
            class="mx-auto mb-12"
            width="56"
          >
            <v-divider class="mb-1"></v-divider>

            <v-divider></v-divider>
          </v-responsive>

          <v-row>
            <v-col
              v-for="({ src, text, title }, i) in articles"
              :key="i"
              cols="12"
              md="4"
            >
              <v-img
                :src="src"
                class="mb-4"
                height="275"
                max-width="100%"
              ></v-img>

              <h3
                class="font-weight-black mb-4 text-uppercase"
                v-text="title"
              ></h3>

              <div
                class="title font-weight-light mb-5"
                v-text="text"
              ></div>

              <v-btn
                class="ml-n4 font-weight-black"
                text
              >
                Продолжить чтение
              </v-btn>
            </v-col>
          </v-row>
        </v-container>

        <div class="py-12"></div>
      </section> -->

    </v-content>

    <v-footer
      class="justify-center"
      color="#292929"
      height="100"
    >
      <div class="title font-weight-light grey--text text--lighten-1 text-center">
        &copy; {{ (new Date()).getFullYear() }} — неравнодушные москвичи.
      </div>
    </v-footer>
  </v-app>
 </div>
 <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
 <script>
  new Vue({
    el: '#app',
    vuetify: new Vuetify(),
    data () {
      return {
        articles: [
          {
            src: 'https://images.unsplash.com/photo-1423784346385-c1d4dac9893a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80',
            title: 'Mobile first & Responsive',
            text: 'Phasellus lorem enim, luctus ut velit eget, convallis egestas eros. Sed ornare ligula eget tortor tempor, quis porta tellus dictum.',
          },
          {
            src: 'https://images.unsplash.com/photo-1475938476802-32a7e851dad1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80',
            title: 'Think outside the box',
            text: 'Nam ut leo ipsum. Maecenas pretium aliquam feugiat. Aenean vel tempor est, vitae tincidunt risus. Sed sodales vestibulum nibh.',
          },
          {
            src: 'https://images.unsplash.com/photo-1416339442236-8ceb164046f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1892&q=80',
            title: 'Small changes, big difference',
            text: 'Vestibulum in dictum velit, in rhoncus nibh. Maecenas neque libero, interdum a dignissim in, aliquet vitae lectus. Phasellus lorem enim, luctus ut velit eget.',
          },
        ],
        appeal: [
          {
            title: 'Правительство Москвы',
            html: `Электронная приёмная Правительства Москвы
              <a href="https://www.mos.ru/feedback/reception/">mos.ru/feedback/reception</a> 
              <br>Выберите получателя обращения:
              <ol>
                <li>Правительство Москвы</li>
                <li>Окружающая среда &rarr; Департамент природопользования и охраны окружающей среды</li>
                <li>ЖКХ и благоустройство &rarr; Департамент капитального ремонта</li>
                <li>Строительство &rarr; Департамента культурного наследия</li>
              </ol>
              <p>
                Невозможно вставить скопированный текст, поэтому в окошко &laquo;Содержание обращения&raquo; коротко: 
                <br>&laquo;Обращение прикреплено&raquo; или &laquo;Текст обращения в приложении&raquo;, а большое письмо прикрепите файлом.
              </p>
            `
          },
          {
            title: 'МосПрирода',
            html: `ГПБУ «Мосприрода»
            <br>эл. почта <a href="mailto:mospriroda@eco.mos.ru">mospriroda@eco.mos.ru</a>
            <br>по тел. <a href="tel:+74997392707">8 (499) 739-27-07</a> (или <a href="tel:+74997392705">-05</a>,
            или <a href="tel:+74997392708">-08</a>) &mdash; принимают заявки и сразу регистрируют их`
          },
          {
            title: 'ОАТИ',
            html: `Объединение административно-технических инспекций города Москвы
            <br><a href="https://www.mos.ru/feedback/reception/?department=21519090">https://www.mos.ru/feedback/reception/?department=21519090</a>
            <br>эл. почта <a href="mailto:oati@mos.ru">oati@mos.ru</a>
            `
          },
          {
            title: 'Дирекция парка',
            html: `Дирекция ООПТ ПИП Покровское-Стрешнево
            <br><a href="tel:+74991596581">+7 (499) 159-65-81</a>`
          },


          {
            title: 'Природоохранная прокуратура',
            html: `Межрайонная природоохранная прокуратура г.Москвы
              <br>Эл. почта: <a href="mailto:prokpri@mosproc.ru">prokpri@mosproc.ru</a>
              <br>Эл. приемная: <a href="https://epp.genproc.gov.ru/web/proc_77/internet-reception/personal-receptionrequest">https://epp.genproc.gov.ru/web/proc_77/internet-reception/personal-receptionrequest</a>
            `
          },
          {
            title: 'Тушинская прокуратура',
            html: `Тушинская межрайонная прокуратура
              <br><a href="mailto:proktus@mosproc.ru">proktus@mosproc.ru</a>
              <br>эл. приёмная  <a href="https://epp.genproc.gov.ru/web/proc_77/internet-reception/personal-receptionrequest">https://epp.genproc.gov.ru/web/proc_77/internet-reception/personal-receptionrequest</a>
              <br>При обращении в прокуратуру можно выбрать «Без авторизации», поставить согласие на обработку данных. 
              <br>На вопрос орган прокуратуры выбрать &laquo;Прокуратура субъекта Российской Федерации&raquo;
              <br>Далее – Город федерального значения Москва.
              <br>Потом либо &laquo;Природоохранную&raquo; или &laquo;Тушинскую&raquo; прокуратуру.
              <br>Тема: &laquo;По вопросам охраны окружающей среды и природопользования&raquo;            
            `,
          },
          {
            title: 'Счётная палата',
            html: `Контрольно-счётная палата города Москвы
              <br>эл. приёмная  <a href="https://ksp.mos.ru/feedback/zapros.php">ksp.mos.ru/feedback/zapros.php</a>
            `,
          },
        ],
        online: [
          {
            icon: 'mdi-account-group-outline',
            title: 'Присоединиться',
            text: `
              <ul>
                <li><a href="https://www.facebook.com/groups/pipstreshnevo">группа в Facebook</a></li>
                <li><a href="https://t.me/streshnevo_save">чат в Telegram</a></li>
              </ul>
            `,
          },
          {
            icon: 'mdi-lead-pencil',
            title: 'Подписать',
            text: `
              <ul>
                <li><a href="https://chng.it/wwPKsTF7">петиция</a> на Change.org </li>
                <li><a href="https://act.greenpeace.org/page/94412/action/1">петиция</a> GreenPeace</li>
              </ul>
            `,

          },
          {
            icon: 'mdi-shield-outline',
            title: 'Направить',
            text: 'Обращения в МосПрироду, депутатам, мэру, президенту. См. ниже &darr;',
          },
        ],
        kiosk: [
          {
            icon: 'mdi-map-marker',
            title: 'Где и как',
            text: `Инфо киоски у входов в парк:
            <ul>
              <li>Волоколамское ш. 56 стр.3</li>
              <li>5-й Войковский проезд 8К1</li>
            </ul>
            <p>Ежедневно 09<sup>00</sup>&ndash;18<sup>00</sup>, перерыв 13<sup>00</sup>&ndash;13<sup>45</sup></p>
 
<p>В инфокиоске лучше писать по одной проблеме на лист и оставлять свои координаты для ответа &mdash; обещали ответить.</p>
<p>Возьмите в киоске запасной <a href="park-form.jpg">бланк</a>, дома сделайте несколько копий, чтобы поделиться с соседями.</p>
<v-img
          contain
          max-height="70%"
          src="park-form.jpg"
        ></v-img>

 `,
          },
          {
            icon: 'mdi-help-circle',
            title: 'Спросить в киоске',
            text: `
              <ul>
                <li>где планируется высадить 2397&nbsp;шт деревьев и 37559&nbsp;шт кустарников?</li>
                <li>почему запланировано восстановление почвенного покрова на трети территории ООПТ, покрытой преимущественно лесом? «восстановление газона 481550,2 кв.м; устройство цветников 17927кв.м.»</li>
                <li>какие МАФ реально пришли в негодность, что потребовало «замены и установки МАФ 1074&nbsp;шт.»?</li>
                <li>где будет установлено 1372шт опор освещения? Что произойдет с существующими опорами освещения?</li>
                <li>какие и где «14 некапитальных павильонов» будет установлено? Точно ли там не будет подвода коммуникаций? </li>
              </ul>
            `,
          },
          {
            icon: 'mdi-bullhorn-outline',
            title: 'Утверждать и требовать',
            text: `
            <ul>
              <li>требую сохранить родник Царевна-Лебедь в том виде, в котором он наблюдался на декабрь 2021 г.;</li>
              <li>я против переделки протопов в дороги с искусственным покрытием, так как это повредит корни деревьев; прошу оставить существующие асфальтовые и гравийные дороги, находящиеся в удовлетворительном состоянии, без изменений! Протестую против дублирования дорожек «буферными зонами»;</li>
              <li>я против эко-тропы по левому берегу Химки по местам гнездования водоплавающих птиц и местообитанию краснокнижников;</li>
              <li>прошу не добавлять освещение и лавочки на имеющуюся эко-тропу для сохранения имеющейся там фауны;</li>
              <li>я против памп-трека и скейт-парка, которые запечатают почву и уничтожат луговое разнотравье – местообитание насекомых и краснокнижных растений;</li>
              <li>я против двух дополнительных спортплощадок на поляне около 4-го Иваньковского пруда поскольку из имеющихся сегодня площадок используется только одна и то редко;</li>
              <li>я против кинотеатра, их достаточно в городе;</li>
              <li>я против кафе на ООПТ, особенно в районе Елизаветинского оврага над водоносным горизонтом родника Царевна-Лебедь; при необходимости прошу построить кафе у входов на территорию ООПТ; </li>
              <li>прошу не увеличивать количество пикниковых зон на ООПТ;</li>
              <li>прошу оставить имеющиеся скамейки;</li>
              <li>прошу вернуть качественные объемные урны;</li>
              <li>прошу построить туалеты с водоснабжением и водоотведением у каждого входа на ООПТ; прошу не строить туалетов на самой ООПТ, т.к. подведение коммуникаций повредит корни деревьев и приведёт к их последующей гибели.</li>
            </ul>
            <p>Заполненный бланк фотографируем и отправляем на портал mos.ru в ДКР, поскольку эти бланки не регистрируются в инфокиоске.</p>
            `,
          },
        ],
        stats: [
          ['10000+', 'подписей собрано'],
          ['2500+', ' в группе fb'],
          ['7', 'прудов'],
          ['1', 'парк'],
        ],
      }
    }
  })
</script>
</body>
</html>
